body{
    background-color: black;
  }
  div{
    color:white;
    width:50%;
    margin-left:25%;
    font-family: 'Libre Baskerville', serif;
    display:flex;
    flex-direction: column;
  }
  #image-meme{
    border:5px solid white;
    width:50%;
    margin-left:25%;
    margin-right:25%;
  }
  #name{
    text-transform:capitalize;
    text-align: center;
  }
  #quote{
    text-align: center;
    margin:0;
  }
  #owner{
    color:white;
    position: absolute;
    right:20px;
    bottom:5px;
  }
